* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8cc461;
    font-family: Roboto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    border: 2px solid #ffffff;
    border-radius: 13px;
    width: 70%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 1em;
    display: flex;
}

.header-left {
    flex-grow: 1;
    /* width: 70%; */
}
.heading {
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
    letter-spacing: 5px;
}

.header-right {
    display: flex;
    gap: 2em;
    /* width: 30%; */
}

.score {
    text-align: center;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    /* flex-grow: 1; */
    width: 150px;
}

.score p:first-of-type {
    color: #656565;
    font-weight: 600;
}

.score p:last-of-type {
    font-size: 4rem;
    font-weight: 600;
}

.triangle-down {
    position: relative;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 250px solid #000000a3;
    /* border: 15px solid #000000A3 */
}
.inner-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 129px solid transparent;
    border-right: 129px solid transparent;
    border-top: 215px solid #8cc461;
    top: -238px; /*-238  , -239*/
    left: -129px; /* -129   , -128 */
}

#play-area {
    margin-bottom: 65px;
    min-height: 250px;
}
.play {
    width: 700px;
    /* max-width: 1200px; */
    margin: auto;

    display: flex;
    justify-content: center;
    position: relative;
}

.play-actions {
    position: absolute;
    top: 0;
    left: 0;
}

.action {
    width: 110px;
    height: 110px;
    box-sizing: content-box;
    border-radius: 100%;
    box-shadow: -1px 1px 11px 0px #00000059;
}

.action-inside {
    width: 110px;
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 0px 21px 1px #00000033 inset;
    border-radius: 100%;
    user-select: none;
}

#rock {
    position: absolute;
    top: -55px;
    left: 150px;
}

.rock {
    border: 16px solid #0074b6;
}

#scissors {
    position: absolute;
    top: -55px;
    left: 418px;
}

.scissors {
    border: 16px solid #bd00ff;
}

#paper {
    position: absolute;
    top: 163px;
    left: 279px;
}

.paper {
    border: 16px solid #ffa943;
}

.btns {
    display: flex;
    margin: 0px 16px 16px;
    margin-top: auto;
    flex-direction: row-reverse;
    gap: 1em;
}

.btn {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 0.3em 1em;
    user-select: none;
}

.rules-container {
    position: absolute;
    right: 40px;
    bottom: 65px;
}

.rules {
    color: white;
    background-color: #004429;
    border: 7px solid #ffffff;
    border-radius: 7px;
    padding: 1em 2em;
    width: 290px;
}

.rules p {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0.6em;
}

.rules li {
    font-size: 0.8rem;
    list-style-image: url(assets/Rectangle\ 6.png);
    margin-bottom: 1em;
    padding-left: 0.5em;
}

.rules-close {
    position: absolute;
    width: 60px;
    height: 60px;
    color: white;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Dangrek;
    font-size: 2.5rem;
    border: 5px solid #ffffff;
    border-radius: 100%;
    top: -30px;
    right: -30px;

    user-select: none;
}

.rules-close:hover {
    cursor: pointer;
    background-color: #c00505;
}
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.action:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.result {
    width: 70%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.result-left {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result p {
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.result-right {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

.result-middle p:first-of-type {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 0px;
}

.result-middle p:last-of-type {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.play-again {
    color: #6b6b6b;
    border: none;
    font-weight: 600;
    padding: 0.8em 2em;
    border-radius: 9px;
    letter-spacing: 2px;
}

.concentric-container {
    position: absolute;
    top: -36px; /* 297px , -36*/
    z-index: -1;
}

.circle3 {
    width: 350px;
    height: 350px;
    background-color: #2e9a2563;
    box-shadow: 0px 1px 62px 0px #00000021;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle2 {
    width: 300px;
    height: 300px;
    background-color: #1da82bc9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1 {
    width: 250px;
    height: 250px;
    background-color: #279b27;
    border-radius: 100%;
}

.stars-trophy {
    position: relative;
    margin-top: 70px;
}

.winner-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trophy {
    position: absolute;
    top: 106px;
    left: 165px;
}

.winner-screen p:first-of-type {
    color: white;
    font-size: 5.6rem;
    letter-spacing: 3px;
    margin-top: 30px;
    font-weight: 500;
}
.winner-screen p:last-of-type {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.play-again:hover {
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}
